src/main/bw/rest-tib-lib/REST/Public/Schemas/HTTP1.1-StatusCodeDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:http1.1="http://windyroad.org/HTTP1.1-StatusCodeDefinitions"
	 xmlns:rest="http://windyroad.org/rest-tib-lib.xsd"
	 targetNamespace="http://windyroad.org/HTTP1.1-StatusCodeDefinitions"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://windyroad.org/rest-tib-lib.xsd" schemaLocation="rest-tib-lib.xsd"/>
	<xs:complexType name="statusCodeDefTyp"/>
	<xs:element name="sc100-Continue">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc101-Switching_Protocols">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element ref="http1.1:upgrade"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc200-OK">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element ref="rest:response"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc201-Created">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element ref="http1.1:content-location"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc202-Accepted">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element ref="rest:response"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc203-Non-Authoritative_Information">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element ref="rest:response"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc204-No_Content">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element ref="rest:headers"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc205-Reset_Content">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc206-Partial_Content">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element ref="rest:headers"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc300-Multiple_Choices">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element ref="rest:response"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc301-Moved_Permanently">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element ref="rest:text-content"/>
							<xs:element ref="rest:binary-content"/>
						</xs:choice>
						<xs:element ref="http1.1:content-location"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc302-Found">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element ref="rest:text-content"/>
							<xs:element ref="rest:binary-content"/>
						</xs:choice>
						<xs:element ref="http1.1:content-location"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc303-See_Other">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element ref="rest:text-content"/>
							<xs:element ref="rest:binary-content"/>
						</xs:choice>
						<xs:element ref="http1.1:content-location"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc304-Not_Modified">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc305-Use_Proxy">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc306-Unused">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc307-Temporary_Redirect">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc400-Bad_Request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc401-Unauthorized">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc402-Payment_Required">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc403-Forbidden">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc404-Not_Found">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element ref="http1.1:content-location" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc405-Method_Not_Allowed">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc406-Not_Acceptable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc407-Proxy_Authentication_Required">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc408-Request_Timeout">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc409-Conflict">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc410-Gone">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc411-Length_Required">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc412-Precondition_Failed">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc413-Request_Entity_Too_Large">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc414-Request-URI_Too_Long">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc415-Unsupported_Media_Type">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc416-Requested_Range_Not_Satisfiable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc417-Expectation_Failed">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc500-Internal_Server_Error">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc501-Not_Implemented">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc502-Bad_Gateway">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc503-Service_Unavailable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc504-Gateway_Timeout">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sc505-HTTP_Version_Not_Supported">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="content-location" type="xs:string"/>
	<xs:element name="upgrade" type="xs:string"/>
	<xs:element name="content-range" type="xs:string"/>
	<xs:element name="content-type" type="xs:string"/>
	<xs:element name="cacheableStatusCodeDefTyp">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="http1.1:statusCodeDefTyp">
					<xs:sequence>
						<xs:element name="cache-response-directive" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="simple" minOccurs="0" maxOccurs="unbounded">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="no-cache"/>
												<xs:enumeration value="no-store"/>
												<xs:enumeration value="no-transform"/>
												<xs:enumeration value="must-revalidate"/>
												<xs:enumeration value="proxy-revalidate"/>
												<xs:enumeration value="cache-extension"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="private" type="xs:string" minOccurs="0"/>
									<xs:element name="no-cache" type="xs:string" minOccurs="0"/>
									<xs:element name="max-age" type="xs:long" minOccurs="0"/>
									<xs:element name="s-maxage" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>