Examples/server-client/src/main/bw/server-client/server/model/CoffeeShop.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:cfshp="http://windyroad.org/coffee-shop"
	 targetNamespace="http://windyroad.org/coffee-shop"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="coffee-order">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstname" type="xs:string"/>
				<xs:element name="coffee" type="xs:string"/>
				<xs:element name="sugar" type="xs:string"/>
				<xs:element name="state" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>